In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\\dell\\SMSSpamCollection',sep='\t',names=['label','message'])

In [3]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
#Text Cleaning

In [5]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [13]:
corpus=[]
for i in range(len(df)):
    rp=re.sub('[^a-zA-z]',' ',df['message'][i])
    rp=rp.lower()
    rp=rp.split()
    rp=[ps.stem(word) for word in rp if not word in set (stopwords.words('english'))]
    rp=" ".join(rp)
    corpus.append(rp)

In [14]:
#Vectorization

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
X=cv.fit_transform(corpus).toarray()

In [18]:
y=pd.get_dummies(df['label'],drop_first=True)

In [19]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [20]:
y

      spam
0        0
1        0
2        1
3        0
4        0
...    ...
5567     1
5568     0
5569     0
5570     0
5571     0

[5572 rows x 1 columns]

In [22]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [23]:
#Train Test sPlit

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [27]:
#modeling

In [28]:
#Naive Bayes Classifier with default parameters

In [30]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train,y_train)

C:\Users\dell\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB()

In [31]:
#Prediction

In [33]:
ypred_test=model.predict(X_test)
ypred_train=model.predict(X_train)

In [34]:
#Evalution

In [35]:
from sklearn.metrics import accuracy_score
print('test accuracy=',accuracy_score(ypred_test,y_test))
print('train accuracy=',accuracy_score(ypred_train,y_train))

test accuracy= 0.9796650717703349
train accuracy= 0.9912820512820513